<div class="clustrmaps-container" style="width: 70%; margin: 0 auto;">
  <script
    type="text/javascript"
    id="clustrmaps"
    src="https://clustrmaps.com/map_v2.js?d=pd4PWlhO8snuZVDPncMjkvKKyv494Zg_6KY07jDtkhI&cl=ffffff&w=a"
  ></script>
</div>
